.DS_Store
.idea/*
*.swp
*.png
server/core/cmake-build-debug/*
server/core/CMakeFiles
server/core/Makefile
server/core/CMakeCache.txt
server/core/cmake_install.cmake
server/data/output
server/lib/
server/.bic_cache
elm-stuff/
node_modules/
config.json
database.json
dist
